# =========================
# Node.js
# =========================

# Dépendances
node_modules/
package-lock.json

# Build / output
dist/
build/
out/
coverage/

# Logs
logs/
*.log

# Environnements
# .env
# .env.*